<ng-template #appLoadingUi="appLoadingUi" appLoadingUi [blockPage]="true"></ng-template>
<app-banner-message [location]="'component'"></app-banner-message>
<ng-template #formTemplateRef>
  <app-degs-form [initialData]="degsForm" [isEdit]="true" [reset]="reset" (formChangeEventResult)="update($event)"></app-degs-form>
</ng-template>
<app-create-edit-template
  (closeDialog)="close()"
  [isEdit]="true"
  [contentTitle]="'Update degs test'"
  [contentBodyTemplateRef]="formTemplateRef">
</app-create-edit-template>
<app-degs-test-result></app-degs-test-result>
