<ng-template #appLoadingUi="appLoadingUi" appLoadingUi [blockPage]="true"></ng-template>
<app-banner-message [location]="'component'"></app-banner-message>
<ng-template #formTemplateRef>
  <app-ntrm-green-form [initialData]="ntrmGreenForm" [isEdit]="true" [reset]="reset" (formChangeEventResult)="update($event)"></app-ntrm-green-form>
</ng-template>
<app-create-edit-template
  (closeDialog)="close()"
  [isEdit]="true"
  [contentTitle]="'Update ntrm green test'"
  [contentBodyTemplateRef]="formTemplateRef">
</app-create-edit-template>

