bs-datepicker-container > .bs-datepicker > .bs-datepicker-container{
    padding: 5px;
}

timepicker .bs-timepicker-field {
  padding-top: 23px!important;
  padding-bottom: 3px!important;
  width: 100%!important;
}
