<div class="card content-body" >
    <div class="card-body pt-5 pb-0 px-5">
        <div class="d-flex">
            <div class="col-12">
                <div [formGroup]="formGroup" class="row g-3">

                    <div *ngIf="formGroup.controls.operationOrderId as ctrl" class="col-md-8 app-form-control">
                        <app-operation-order-mothergrade-dropdown
                            formControlName="operationOrderId"
                            [invalid]="isOperationOrderDropdownInvalid"
                            (operationOrderChanged)="operationOrderChanged()">
                        </app-operation-order-mothergrade-dropdown>
                        <ng-container *ngIf="isOperationOrderDropdownInvalid">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div *ngIf="formGroup.controls.packingGradeId as ctrl" class="col-md-4 app-form-control">
                        <app-packing-grade-by-products-dropdown
                            formControlName="packingGradeId"
                            [invalid]="isPackingGradeDropdownInvalid"
                            [operationOrderId]="operationOrderId">
                        </app-packing-grade-by-products-dropdown>
                        <ng-container *ngIf="isPackingGradeDropdownInvalid">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="separator border-primary mb-1 opacity-25"></div>

                    <div>
                      <h5 class="mb-0">Conducted on</h5>
                    </div>

                    <div *ngIf="formGroup.controls.shiftType as ctrl" class="col-md-12 app-form-control">
                        <app-shift-type-dropdown
                            formControlName="shiftType"
                            [invalid]="isShiftTypeDropdownInvalid">
                        </app-shift-type-dropdown>
                        <ng-container *ngIf="isShiftTypeDropdownInvalid">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div *ngIf="formGroup.controls.entryDate as ctrl" class="col-md-6 app-form-control">
                        <app-date-entry *ngIf="formGroup.controls.entryDate as ctrl"
                            formControlName="entryDate"
                            [invalid]="isEntryDateDropdownInvalid">
                        </app-date-entry>
                        <ng-container *ngIf="isEntryDateDropdownInvalid">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div *ngIf="formGroup.controls.entryTime as ctrl" class="col-md-6 app-form-control">
                        <app-time-entry *ngIf="formGroup.controls.entryTime as ctrl"
                            formControlName="entryTime"
                            [invalid]="isEntryTimeDropdownInvalid">
                        </app-time-entry>
                        <ng-container *ngIf="isEntryTimeDropdownInvalid">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="separator border-primary mb-1 opacity-25"></div>

                    <div>
                      <h5 class="mb-0">Test input values</h5>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.lessThanPoint5 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="lessThanPoint5">
                        <label>&lt; 0.5</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.betweenPoint5And1 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="betweenPoint5And1">
                        <label>0.5 - 1.0</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between1And1Point5 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between1And1Point5">
                        <label>1.0 - 1.5</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between1Point5And2 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between1Point5And2">
                        <label>1.5 - 2.0</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between2And2Point5 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between2And2Point5">
                        <label>2.0 - 2.5</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between2Point5And3 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between2Point5And3">
                        <label>2.5 - 3.0</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between3And3Point5 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between3And3Point5">
                        <label>3.0 - 3.5</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.between3Point5And4 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="between3Point5And4">
                        <label>3.5 - 4.0</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                    <div class="field-wrapper form-floating col-md-4" *ngIf="formGroup.controls.moreThan4 as ctrl">
                        <input appNumberDecimal
                            type="text"
                            class="form-control"
                            [class.is-invalid]="ctrl.invalid && ctrl.touched"
                            formControlName="moreThan4">
                        <label>&gt; 4</label>
                        <ng-container *ngIf="ctrl.invalid && ctrl.touched">
                            <span class="text-danger">{{ctrl?.errors?.invalidTestInput}}</span>
                            <span class="text-danger" *ngIf="ctrl?.errors?.required">Required!</span>
                        </ng-container>
                    </div>

                </div>
            </div>
        </div>


      <div class="d-flex justify-content-start my-5">
        <button class="btn btn-primary btn-sm" (click)="save()" >{{isEdit? 'Update':'Create'}}</button>
      </div>
    </div>
</div>
