<div class="card-header border-0">
	<h3 class="card-title align-items-start flex-column">
	</h3>

	<div class="card-toolbar" data-kt-buttons="true">
	</div>
</div>

<div class="card-body">
	<div #chartRef id="kt_charts_widget_7_chart" class="card-rounded-bottom">
		<div class="row g-5 g-xl-8 pb-5">
			<div class="col-xl-6">
				<app-mettler-chart></app-mettler-chart>
			</div>
			<div class="col-xl-6">
				<app-temperature-chart></app-temperature-chart>
			</div>
		</div>
		<div class="row g-5 g-xl-8 pb-5">
			<div class="col-xl-6">
				<app-degs-dry-total-over-half-chart></app-degs-dry-total-over-half-chart>
			</div>
			<div class="col-xl-6">
				<app-degs-dry-total-over-quarter-chart></app-degs-dry-total-over-quarter-chart>
			</div>
		</div>
		<div class="row g-5 g-xl-8 pb-5">
			<div class="col-xl-6">
				<app-stem-degs-total-stem-chart></app-stem-degs-total-stem-chart>
			</div>
			<div class="col-xl-6">
				<app-stem-degs-total-obj-chart></app-stem-degs-total-obj-chart>
			</div>
		</div>
	</div>
</div>
